<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Bài 2 - Lab7 | AngularJS | Đoàn Quốc Dũng</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js "></script>
    <link rel="icon" href="https://angular.io/assets/images/logos/angular/angular.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>

<body ng-app="myapp" ng-controller="cfController">
    <header class="bg-success text-center">
        <div class="title m-auto py-3 blockquote text-white font-weight-bold">CATALOG</div>
    </header>

    <div class="container-fluid mt-3 px-5">
        <div class="col-lg-10 m-auto">
            <div class="card border-radius-0">
                <div class="card-header text-left text-uppercase font-weight-bold">
                    <div class="title float-left"><i class="fas fa-book-open mr-2"></i> CATALOG QUÝ 3 </div>
                    <div class="today float-right ml-4"><i class="fas fa-phone-volume mr-1"></i> 0398 022 720</div>
                    <div class="today float-right"><i class="fas fa-user-injured mr-1"></i> Đoàn Quốc Dũng</div>

                </div>
                <div class="card-body p-0">
                    <table class="table table-hover table-striped text-center table-mr-0 vertical-align-center">
                        <thead>
                            <tr class="text-uppercase font-weight-bold bg-dark text-white" id="header_table">
                                <!-- <th scope="col">STT</th> -->
                                <th scope="col" ng-click="sortColumn( 'name')" class="text-left">Sản phẩm</th>
                                <th scope="col" ng-click="sortColumn( 'price')">Đơn giá</th>
                                <th scope="col" ng-click="sortColumn( 'discount')">Giảm giá</th>
                                <th scope="col" ng-click="sortColumn( 'date')">Ngày</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sp in sanpham|orderBy:column:reverse|limitTo:pageSize:start">
                                <!-- <th>{{($index + 1)}}</th> -->
                                <th class="text-left">{{sp.name|uppercase}}</th>
                                <th class="text-center">{{sp.price|number}}</th>
                                <th class="text-center">{{sp.discount | percentage:2}}</th>
                                <th class="text-center">{{sp.date|date: 'dd/MM/yyyy'}}</th>
                                <th class="text-center">{{(sp.price-sp.price*sp.discount)*tygia|number:0}} đ</th>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="bg-dark text-white">
                                <th scope="col" class="" colspan="5">
                                    <button class="btn btn-primary btn-sm" type="button" ng-click="first()"><i class="fas fa-angle-double-right tran180"></i> Trang đầu</button>
                                    <button class="btn btn-info btn-sm" type="button" ng-click="prev()"><i class="fas fa-angle-right tran180"></i> Trang trước</button>
                                    <button class="btn btn-info btn-sm" type="button" ng-click="next()">Trang kế <i class="fas fa-angle-right"></i></button>
                                    <button class="btn btn-primary btn-sm" type="button" ng-click="last()">Trang cuối <i class="fas fa-angle-double-right"></i></button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer id="dk-footer" class="dk-footer mt-5">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2020, Design by DungRoyal</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

<script>
    var app = angular.module("myapp", []);
    app.filter('percentage', function($filter) {
        return function(input, decimals) {
            return $filter('number')(input * 100, decimals) + ' %';
        };
    });

    app.controller("cfController", function($scope, $http) {
        $scope.tygia = 23000;
        $scope.pageSize = 8;
        $scope.start = 0;
        $scope.next = function() {
            if ($scope.start < $scope.sanpham.length - $scope.pageSize) {
                $scope.start += $scope.pageSize;
            }
        };
        $scope.prev = function() {
            if ($scope.start > 0) {
                $scope.start -= $scope.pageSize;
            }
        };
        $scope.first = function() {
            $scope.start = 0
        };
        $scope.last = function() {
            sotrang = Math.ceil($scope.sanpham.length / $scope.pageSize);
            $scope.start = (sotrang - 1) * $scope.pageSize;
        };
        $scope.sortBy = function(what) {
            $scope.sx = what;
        }
        $http.get("js/Prods.js").then(
            function(r) {
                $scope.sanpham = r.data;
            },
            function(d) {
                alert('lỗi :' + d.statusText);
            }
        );

        // Sort
        $scope.column = 'dungdqPS08542';
        $scope.reverse = false;
        $scope.sortColumn = function(col) {
            $scope.column = col;
            if ($scope.reverse) {
                $scope.reverse = false;
            } else {
                $scope.reverse = true;
            }
        };
    });
</script>

</html>