<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Bài 2 - AngularJS | Đoàn Quốc Dũng</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js "></script>
    <link rel="icon" href="https://angular.io/assets/images/logos/angular/angular.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
</head>

<body ng-app="myapp" ng-controller="StdController">
    <header class="bg-success text-center">
        <div class="title m-auto py-3 blockquote text-white font-weight-bold"><i class="fas fa-user-graduate mr-2"></i> Quản lý sinh viên FPT Polytechnic</div>
    </header>
    <div class="container mt-3">
        <div class="col-10 m-auto">
            <div class="card border-radius-0">
                <div class="card-header text-left font-weight-bold text-uppercase">
                    <i class="fas fa-edit mr-1"></i> Cập Nhật thông tin sinh viên
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Mã sinh viên</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-qrcode"></i></span>
                                    </div>
                                    <input ng-model="getSV.masv" type="text" class="form-control" placeholder="Nhập mã sinh viên">
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label for="exampleInputPassword1">Họ và tên</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-graduate"></i></span>
                                    </div>
                                    <input ng-model="getSV.fullname" type="text" class="form-control" placeholder="Nhập Họ và tên">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Số điện thoại</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                                    </div>
                                    <input ng-model="getSV.sdt" type="text" class="form-control" placeholder="Nhập số điện thoại">
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label for="exampleInputPassword1">Điểm tổng kết</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-sort-numeric-down"></i></span>
                                    </div>
                                    <input ng-model="getSV.tk" type="number" class="form-control" placeholder="Nhập điểm trung bình (0 đến 10 điểm)" min="0" max="10">
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mt-2 btn-group-2">
                            <button ng-click="insert();" ng-show="index == -1" class="btn btn-success btn-sm ml-3 font-weight-bold"><i class="fas fa-save mr-1"></i> Thêm</button>
                            <button ng-click="update();" ng-show="index != -1" class="btn btn-warning btn-sm ml-3 font-weight-bold"><i class="fas fa-pen-square mr-1"></i> Cập nhật</button>
                            <button ng-click="delete();" ng-show="index != -1" class="btn btn-danger btn-sm ml-3 font-weight-bold"><i class="fas fa-trash mr-1"></i> Xoá</button>
                            <button ng-click="cancel();" ng-show="index != -1" class="btn btn-dark btn-sm ml-3 font-weight-bold"><i class="far fa-sad-tear mr-1"></i> Hối hận</button>
                            <button ng-click="clear();index == -1" class="btn btn-info btn-sm ml-3 font-weight-bold"><i class="fas fa-sync-alt mr-1"></i> Làm mới</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="col-10 m-auto">
            <div class="card border-radius-0">
                <div class="card-header text-left font-weight-bold text-uppercase">
                    <i class="fas fa-list-alt mr-1"></i> Danh sách sinh diên
                </div>
                <div class="card-body p-0">
                    <table class="table table-hover table-striped text-center table-mr-0 vertical-align-center">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã sinh viên</th>
                                <th scope="col">Họ và tên</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Xếp loại</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sv in listSV" ng-click="edit($index);">
                                <th scope="row" class="text-center">{{$index + 1}}</th>
                                <td>{{sv.masv}}</td>
                                <td>{{sv.fullname}}</td>
                                <td>{{sv.sdt}}</td>
                                <td ng-if="sv.tk <5">Yếu kém</td>
                                <td ng-if="sv.tk>=5 && sv.tk < 8">Trung bình/Khá</td>
                                <td ng-if="sv.tk>=8"><strong>Giỏi/xuất sắc</strong></td>
                                <!-- <td class="text-center"> <button ng-click="edit($index);" class="btn btn-primary" type="button">Sửa</button></td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer id="dk-footer" class="dk-footer mt-5">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2020, Design by DungRoyal</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

<script>
    var app = angular.module("myapp", []);
    app.controller("StdController", function($scope) {
        $scope.edit = function(key) {
            $scope.index = key;
            $scope.getSV = angular.copy($scope.listSV[key]);
        }
        $scope.update = function() {
            $scope.listSV[$scope.index] = angular.copy($scope.getSV);
        }
        $scope.clear = function() {
            $scope.getSV = {};
            $scope.index = -1;
        }
        $scope.insert = function() {
            $scope.listSV.push(angular.copy($scope.getSV));
            $scope.clear();
        }
        $scope.cancel = function() {
            if ($scope.index == -1) $scope.clear;
            else $scope.edit($scope.index);
        }
        $scope.delete = function() {
            $scope.listSV.splice($scope.index, 1);
            $scope.clear();
        }

        $scope.listSV = [{
            fullname: "Đoàn Quốc Dũng",
            masv: "PS08542",
            sdt: "0398022720",
            tk: "8"
        }, {
            fullname: "Lê Trọng Nhân",
            masv: "PS09232",
            sdt: "0398451254",
            tk: "4"
        }, {
            fullname: "Lê Nhật Hào",
            masv: "PS023122",
            sdt: "0398032518",
            tk: "7"
        }]
    });
</script>

</html>