.header_title{
    width: 50%;
    float: left;
}
.header_title h1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    
}
.header_title h2{
    font-weight: 500;
    text-transform: capitalize;
    color: white;
    font-size: 15px;
    color:#333333;
}

.header_img{
    width: 50%;
    float: left;
}

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}

.price-wrap span{
    font-size: 13px;
}
.info-wrap h4{
    font-size: 15px;
}