<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Dịch vụ</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Web Manager</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Về chúng tôi</h3>
                    <ul>
                        <li><a href="#">Royal Team</a></li>
                        <li><a href="#">Gò Vấp, Hồ Chí Minh</a></li>
                        <li><a href="#">0398 022 720</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Royal LMS</h3>
                    <p>Công cụ làm trắc nghiệm online về chủ đề lập trình, giúp cho lập trình viên có thể ôn luyện kiến thức cũ và học hỏi được kiến thức mới.</p>
                </div>
                <div class="col item social">
                    <a href="https://www.facebook.com/Quocdungroyal/" title="Đoàn Quốc Dũng"><i class="fab fa-facebook-f"></i></a>
                    <a href="javascript:void(0);" title="doanquocdung55@gmail.com"><i class="fab fa-google"></i></a>
                    <a href="https://github.com/dungroyal"><i class="fab fa-github"></i></a>
                    <a href="javascript:void(0);" title="0398 022 720"><i class="fas fa-mobile-alt"></i></a>
                </div>
            </div>
            <p class="copyright">DungRoyal © 2020 </p>
        </div>
    </footer>
</div>