<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Royal LMS — Trắc nghiệm lập trình online</title>
    <meta name="title" content="Royal LMS — Trắc nghiệm lập trình online ">
    <meta name="description" content="Công cụ làm trắc nghiệm online về chủ đề lập trình, giúp cho lập trình viên có thể học hỏi được kiến thức mới.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="images/favicon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js "></script>
    <link rel="stylesheet" href="css/style.css">
</head>